<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon" rel="icon" href="/assets/favicon.png" type="image/png" sizes="32x32">
    <script src="https://kit.fontawesome.com/ee0aa88333.js" crossorigin="anonymous"></script>
    // Color Wheel credit to JSColor.com
    <script src="/js/jscolor.min.js"></script>
    <script>
      // These options apply to all color pickers on the page
      jscolor.presets.default = {
        format:'hex'
      };
    </script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title><%= title %></title>
