<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/new.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %> 
    <h1><%= title %></h1>
    <form action="/teams" method="POST" id="new-form">

      <label for="city-input">Team City:</label>
      <input type="text" name="city" id="city-input">

      <label for="name-input">Team Name (mascot):</label>
      <input type="text" name="name" id="name-input">

      <label for="conference-input">Conference:</label>
      <select name="conference" id="conference-input">
        <option value="West">West</option>
        <option value="East">East</option>
      </select>

      // Color Wheel credit to JSColor.com
      <label for="pri-color-input">Primary Color:</label>
      <input name="priColor" id="pri-color-input" data-jscolor="{value:'#FF0000'}">

      <label for="sec-color-input">Secondary Color:</label>
      <input name="secColor" id="sec-color-input" data-jscolor="{value:'#FF0000'}">

      <button type="submit"><span>Add Team</span></button>
    </form>
  <% } else { %> 
    <h1>You Must Sign-In to Create a Team!</h1>
  <% } %> 
</main>

<%- include("../partials/footer") %>