<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/teams/new.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %> 
    <h1><%= title %></h1>
    <form action="/teams" method="POST" id="new-form">

      <label for="city-input">Team City:</label>
      <input type="text" name="city" id="city-input">

      <label for="name-input">Team Name (mascot):</label>
      <input type="text" name="name" id="name-input">

      <label for="conference-input">Conference:</label>
      <select name="conference" id="conference-input">
        <option value="West">West</option>
        <option value="East">East</option>
      </select>

      <label for="pri-color-input">Primary Color:</label>
      <script type="text/javascript">
        // let's set defaults for all color pickers
        jscolor.presets.default = {
          width: 141,               // make the picker a little narrower
          position: 'right',        // position it to the right of the target
          previewPosition: 'right', // display color preview on the right
          previewSize: 40,          // make the color preview bigger
          palette: [
            '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
            '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
            '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
            '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
          ],
        };
      </script>
      <input name="priColor" id="pri-color-input" data-jscolor="{preset: 'default'}">

      <label for="sec-color-input">Secondary Color:</label>
      <input name="secColor" id="sec-color-input" data-jscolor="{preset: 'default'}">

      <button type="submit">Add Team</button>
    </form>
  <% } else { %> 
    <h1>You Must Sign-In to Create a Team!</h1>
  <% } %> 
</main>

<%- include("../partials/footer") %>