html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  margin: 0;
  /* color: #424748; */
  color: black;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
  font-size: 18px;
}

body > main {
  background-image: url("/assets/basketball-court-horizontal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body > main h1:first-child {
  margin-top: 40px;
}

body > main > h1 {
  color: white;
  font-size: 40px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 20px 0 20px 0;
}

body > nav {
  grid-area: nav;
  /* background-color: #b8c0c2; */
  background-image: linear-gradient(to right, #1d428a, #c8102e);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

img {
  border: solid 2px black;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #424748;
}

nav > .btn-hover:visited {
  color: white;
}

nav > .btn-hover:hover {
  color: black;
  background-color: white;
}

nav > a.active {
  color: white;
}

nav > #icon {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
  color: white;
}

/* Credit to w3docs.com for button styling */
button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 5px 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #f7c2f9;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

#instructions {
  padding: 0 5px;
  margin-top: 150px;
}

h3 {
  font-size: 36px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin-bottom: 0;
}

ol {
  margin-top: 5px;
  background: rgba(50, 50, 50, 0.2); /* Gray background with 30% opacity */
  border: solid 2px black;
}

li {
  color: black;
  inline-size: 600px;
  overflow-wrap: break-word;
  margin: 5px 0;
}